Jinja2==2.6
PyRSS2Gen==1.0.0
Pygments==1.5
Sphinx==1.1.3
Twisted==12.0.0
altgraph==0.9
bdist-mpkg==0.4.4
docutils==0.9.1
macholib==1.4.2
numpy==1.6.1
numpydoc==0.4
matplotlib==1.1.1
modulegraph==0.9.1
nose==1.2.1
py2app==0.6.3
pyOpenSSL==0.13
python-dateutil==1.5
pyzmq==2.2.0.1
readline==6.2.2
scipy==0.11.0
tornado==2.4
virtualenv==1.8.2
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
